@import url("https://use.typekit.net/ere6ftk.css");

/***DIVS***/
.pageWrapper {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.section {
  height: 100vh;

  margin: 0;
  padding: 30px;

  display: flex;
  flex-direction: column;
}

/***POSITIONING***/
.centerContent {
  justify-content: center;
  align-items: center;
}

/***TEXT***/
.header {
  font-family: articulat-cf,sans-serif;
  font-weight: 800;
  font-style: normal;
}

.subHeader {
  font-family: articulat-cf,sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #adb5bd
}