/***COMPONENTS***/
.startButtonLink {
  text-decoration: none;
  align-self: flex-start;
}

/***DIVS***/
.homeWrapper {
  height: 100vh;
  overflow: hidden;
}
.hero {
  background-color: white;
  height: calc(100vh - 126px);
}

.textContainer {
  margin: 30px;
  display: flex; 
  flex-direction: column;
  width: 50%;
}

.chatBotImageContainer {
  width: 50%;
}

.startButton {
  padding: 17px 35px;
  background-color: #474af1;
  color: white;
  font-size: 25px;
}

/***IMAGES***/
.chatBotImage {
  width: 100%; 
  margin: 30px;
}

/***TEXT***/
h1 {
  font-size: 70px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 20px;
  margin: 0;
}

